.ftahoma {
    font-family: tahoma, arial !important;
}

.custom-menu-item {
    width: 100%;
}

span.iconCustom {
    color: red
}

ul li span.dashicons {
    margin: 0 0 0 3px;
    vertical-align: middle;
}