.CustomMenuIcon {
    margin: 0 0 0 3px;
    vertical-align: middle;
}

ul.menuIconslist {
    color: gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: calc(100% - 5px);
    height: auto;
    flex-direction: row;
    align-content: center;
    align-items: baseline;
}

ul.menuIconslist li {
    list-style-type: none;
    padding: 2px 3px;
}
.sectionCustomField{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    width: 100%;
    border: 1px solid #929292;
    padding: 0.5rem;
    border-radius: 5px;
    box-sizing: border-box;
}

.selectedIcon{
    border: 2px solid #27a79b;
}